extends base

block content 
    div#chart-box 
        div#stock-chart.piechart   
    form(method="POST")
        input(type="submit",value="update")
    h5 Exchange rate is #{exchangeRate}
    h5 Total Asset is #{totalAsset}
    h5 Net Asset is #{netAsset}
    h5 debt is #{debt}
    a(href="/") go home
block script
    include chart

//- doctype html 
//- html(lang="ko")
//-     head   
//-         link(rel="stylesheet" href="https://unpkg.com/mvp.css")
//-         script(src="https://www.gstatic.com/charts/loader.js")

//-         title MyAsset   

//-     body
//-         header
//-             h1 Asset
//-         main#finance-main
//-             div#chart-box 
//-                 div#stock-chart.piechart   
//-             form(method="POST")
//-                 input(type="submit",value="update")
//-             h5 Exchange rate is #{exchangeRate}
//-             h5 Total Asset is #{totalAsset}
//-             h5 Net Asset is #{netAsset}
//-             h5 debt is #{debt}
//-             a(href="/") go home
//-         include chart
            