doctype html 
html(lang="ko")
    head   
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        script(src="https://www.gstatic.com/charts/loader.js")

        title MyAsset   

    body
        header
            h1 Asset
        main#finance-main
            div#chart-box 
                div#stock-chart.piechart   
            h5 Exchange rate is #{exchangeRate}
            h5 Total Asset is #{totalAsset}
            h5 Net Asset is #{netAsset}
            h5 debt is #{debt}
        script.
            google.charts.load("current", { packages: ["corechart", "table"] });
            google.charts.setOnLoadCallback(drawStockComposition);
            let stockData; // 주식 구성 변수
            let stockOptions;
            let stockChart;
            console.log(#{stockLocal})
            function drawStockComposition() {
                stockData = new google.visualization.DataTable();
                stockData.addColumn("string", "stock");
                stockData.addColumn("number", "amounts");
                stockData.addRow(["VOO etf", #{stockLocal[4]}]);
                stockData.addRow(["신한지주", #{stockLocal[0]}]);
                stockData.addRow(["PI첨단소재", #{stockLocal[1]}]);
                stockData.addRow(["펄어비스", #{stockLocal[2]}]);
                stockData.addRow(["삼성전자", #{stockLocal[3]}]);
                stockOptions = {
                    title: "My Stock Composition",
                };

                stockChart = new google.visualization.PieChart(
                    document.getElementById("stock-chart")
                );

                stockChart.draw(stockData, stockOptions);
            };
