//- user profile
extends base
block style 
    link(rel='stylesheet', href="profileStyle.css")
block content 
    form(method="POST", id="form")
        input(name = "update",type="submit", value = "refresh")
        a(href=`${user.id}/delete`) Delete My Profile  &rarr;
        
        div#chart-box 
            div#stock-chart.piechart   
        //- input(name="deleteProfile",type="button",value="Remove My Profile", onclick=`location.href="${user.id}/delete"`)
        h4 총 #{totalAsset.toLocaleString('ko-KR')}원 (전일 대비 #{(totalAsset - totalAssetYest).toLocaleString('ko-KR')} #{(totalAsset - totalAssetYest) > 0 ? "▲":"▼"})
        each stock in user.localStock 
            div.each-stock(style="display:flex")
                div
                    h5 #{stock.item} : #{stock.price}원(전일 대비 #{stock.price - stock.priceYest} #{(stock.price - stock.priceYest) > 0 ? "▲":"▼"}), #{stock.amount} 주
                    h5 total #{stock.price * stock.amount}원 (총 #{(stock.price - stock.priceYest)*stock.amount} 변화)
                    small updated at #{stock.updated}
                div
                    input(name="editLocalStock",type="submit",value=`Edit ${stock.item}`)
                    input(name="deleteLocalStock",type="submit",value=`Delete ${stock.item}`)
            hr(style="margin: 10px 0px 10px 0px")
        if errorMessage 
            span=errorMessage
        
        input(id="addLocalStock",name="addLocalStock", type="button", value="stock Add")
//- 실시간 Data 모니터링은 AJAX 배워보기

block script 
    script.
        const test = '#{JSON.stringify(user)}'

    script
        include profileChart.js
        include profilejs.js
    
        

        